@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&family=Montserrat:wght@100;400;500&family=Padauk:wght@700&family=Playfair+Display:wght@700&family=Righteous&family=Roboto:wght@300;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color:	#9370DB;
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
    background-color:black;
}

